.items ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    align-content: flex-start;
}
.items li {
    display: inline-flex;
}

.items.talent h3 {
    margin-bottom: 0;
}

.items.talent ul {
    margin-top: 0;
}

@media (min-width: 500px) {
    .items ul {
        height: 230px;
        flex-wrap: wrap;
    }
    .items li {
        width: 20%;
    }
}
