.skill li {
    justify-items: flex-end;
    justify-content: flex-end;
}

.skill li span {
    margin-right: auto;
}

.skill li em {
    padding: 0 0.6em;
    display: none;
}

@media (min-width: 800px) {
    .skill.items li {
        width: 33%;
    }
    .skill li em {
        display: inline-block;
        width: 6em;
        align-self: flex-end;
        text-align: right;
    }

    .skill.items {
        margin-right: -2em;
    }
    .skill.items.career-count--2 ul {
        height: 312px;
    }
    .skill.items.career-count--3 ul {
        height: 470px;
    }
}

.skill li strong {
    align-self: flex-end;
    padding-right: 1em;
}
